# *** DEV ***
ENV=dev

PORT=3002
HTTP_TIMEOUT=10000
HTTP_MAX_REDIRECTS=3
EXECUTION_RETRIES=3
EXECUTION_BASE_DELAY=1000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=siproad_products_db
DB_USERNAME=siproad_user
DB_PASSWORD=
DB_DEFAULT_LIMIT=1000

# *** QA (docker) ***
# ENV=qa

# PORT=4002
# HTTP_TIMEOUT=10000
# HTTP_MAX_REDIRECTS=3
# EXECUTION_RETRIES=3
# EXECUTION_BASE_DELAY=1000

# DB_HOST=siproad-db
# DB_PORT=3306
# DB_NAME=siproad_products_db
# DB_USERNAME=siproad_user
# DB_PASSWORD=
# DB_DEFAULT_LIMIT=1000

# DOCKER_IMG_NAME=siproad-imagen-products-api
# DOCKER_APP_CONTAINER_NAME=siproad-container-products-api